[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-core = "==2.11.1"
google-api-python-client = "==2.90.0"
google-auth = "==2.20.0"
google-auth-httplib2 = "==0.1.0"
googleapis-common-protos = "==1.59.1"
google-auth-oauthlib = "==1.0.0"
httplib2 = "==0.22.0"
icalendar = "==5.0.7"
ics = "==0.7.2"
requests = "==2.31.0"
urllib3 = "==1.26.16"
beautifulsoup4 = "==4.12.2"
pipenv = "==2023.6.26"
loguru = "==0.7.2"

[dev-packages]
